map $http_upgrade $connection_upgrade {
  default upgrade;
  '' close;
}

upstream grafana {
  server 127.0.0.1:3000;
}


server {
  listen 80;
  server_name {{ansible_host|replace(".","-")}}.nip.io;
  location /.well-known/acme-challenge {
    root /opt/www/acme;
  }
  location / {
    return 301 https://{{ansible_host|replace(".","-")}}$request_uri;
  }
}

server {
  listen 443 ssl http2;
  ssl_certificate /etc/letsencrypt/live/{{ansible_host|replace(".","-")}}.nip.io/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ansible_host|replace(".","-")}}.nip.io/privkey.pem;
  ssl_protocols TLSv1.3;
  server_name {{ansible_host|replace(".","-")}}.nip.io;
  access_log /var/log/nginx/october.access.log;
  error_log /var/log/nginx/october.error.log;
  root /var/www/public;

  location / {
    rewrite / /index.php;
    try_files $uri $uri/ /index.php?$query_string;
  }

  location ~ \.php$ {
    fastcgi_pass 127.0.0.1:9000;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include /etc/nginx/fastcgi_params;
  }
    
  location /grafana {
    access_log /var/log/nginx/grafana.access.log;
    error_log /var/log/nginx/grafana.error.log;
    proxy_set_header Host $http_host;
    proxy_pass http://grafana;
  }
  
  location /api/live/ {
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $connection_upgrade;
    proxy_set_header Host $http_host;
    proxy_pass http://grafana;
  }  
}
