server {
  listen 80;
  server_name {{ansible_host|replace(".","-")}}.nip.io;
  location /.well-known/acme-challenge {
    root /opt/www/acme;
  }
  location / {
    return 301 https://{{ansible_host|replace(".","-")}}.nip.io$request_uri;
  }
}
