<source>
  @type syslog
  port 5140
  tag system
</source>

<source>
  @type tail
  path /var/log/nginx/october.access.log
  pos_file /var/log/td-agent/nginx.october.access.log.pos
  tag nginx.access
  format /^(?<remote_addr>[^ ]*) - (?<remote_user>[^ ]*) \[(?<time>[^\]]*)\] "(?<request>[^"]*)" (?<status>[^ ]*) (?<body_bytes_sent>[^ ]*) "(?<http_referer>[^"]*)" "(?<http_user_agent>[^"]*)"$/
</source>

<source>
  @type tail
  path /var/log/nginx/october.error.log
  pos_file /var/log/td-agent/nginx.october.error.log.pos
  tag nginx.error
  format /^(?<remote_addr>[^ ]*) - (?<remote_user>[^ ]*) \[(?<time>[^\]]*)\] "(?<request>[^"]*)" (?<status>[^ ]*) (?<body_bytes_sent>[^ ]*) "(?<http_referer>[^"]*)" "(?<http_user_agent>[^"]*)"$/
</source>

<label @FLUENT_LOG>
  <match fluent.**>
    @type elasticsearch
    host localhost
    port 9200
    logstash_format true
    logstash_prefix fluentd
    flush_interval 10s
</match>
</label>
